{% extends 'bootstrap/base.html' %}


{% block title %}
    {% if title %}{{ title }} - Contact Manager {% else %}{{ 'Welcome to Contact Manager' }}{% endif %}
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Contact Manager</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">{{'Home' }}</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li><a href="{{ url_for('main.list_contacts') }}">{{'List' }}</a></li>
                    <li><a href="{{ url_for('main.find') }}">{{'Find' }}</a></li>
                    <li><a href="{{ url_for('main.add') }}">{{'Add' }}</a></li>
                    <li><a href="{{ url_for('main.task') }}">{{'Auto' }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}