{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="page-header">
    <h1>Contact: {% if contact %}{{ contact['first_name'] }} {{ contact['last_name'] }}
        <br>{{ contact['phone'] }}
        {% else %}Stranger{% endif %}!</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}