{% extends "base.html" %}

{% block content %}
 <table>
          <tr><th>username</th><th>email</th></tr>
    {% for contact in contacts %}


           <tr><td>{{ contact.username }}</td><td> {% for email in contact.emails.all() %}
                  <small>{{email.content}}<br></small>
                  {% endfor %}</td>
           </tr>

           <tr><td>  <a href="{{ url_for('main.edit_contact', key=contact.id) }}">
                    Edit Contact
                    </a>&nbsp;&nbsp;</td>
               <td>
                   <a href="{{ url_for('main.delete_contact', key=contact.id) }}">
                    Delete Contact
                    </a>&nbsp;&nbsp;

                   <a href="{{ url_for('main.add_email', key=contact.id) }}">
                    Add email
                    </a>
               </td>
           </tr>





    {% endfor %}
      </table>
{% endblock %}